{## Start with defaults from defaults.yaml ##}
{% import_yaml "simplehelp/defaults.yaml" as default_settings %}

{## Merge in simplehelp:lookup pillar ##}
{% set simplehelp = salt['pillar.get'](
    'simplehelp',
    default=default_settings.simplehelp,
    merge=True)
%}
